* {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --bg-color: whitesmoke;
    --drk-color: rgb(161, 69, 227);
    --md-color: rgb(41, 111, 216);
    --lt-color: rgb(252, 228, 48);
}

body{
    background-color: var(--bg-color);
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    background: url("../image/pattern.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid var(--drk-color)
}

h1 {
    padding: 15px;
    font-family: 'Notable', monospace; 
    font-size: 7vw;
    color: whitesmoke;
    text-align: center;
}

h2 {
    padding: 10px;
    font-size: 2vw;
    color: var(--md-color);
    text-align: center;
    display: none;
}

h3 {
    padding: 10px;
    color: black;
    text-align: center;
}

.search-container {
    margin-top: 15%;
    border-radius: 15px;
    background-color: var(--bg-color);
    border: 3px solid var(--md-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    box-shadow: 1px 1px 1px var(--drk-color);
}

.search-box {
    padding-top: 15px;
}

.city-search {
    height: 30px;
    border: 1px solid var(--drk-color);
    border-radius: 5px 0px 0px 5px;
}
.city-search:focus {
    outline: none;
}

#search-form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.search-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--drk-color);
    border-radius: 0px 5px 5px 0px;
    border: 1px solid var(--drk-color);
    color: whitesmoke;
    height: 30px;
    width: 30px;
    font-size: 25px;
    cursor: pointer;
}

.content {
    display: flex;
    color: black;
}

.content h1 {
    font-size: 24px;
    color: black;
}

.left-side {
    background-color: var(--bg-color);
    padding: 30px;
    width: 35%;
    height: 80vh;
    overflow: scroll;
}

#maps {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: 4px solid var(--drk-color);
}

#map {
    width: 100%;
    height: 100%;
}

.user-input {
    font-weight: bold;
    font-size: 2rem;
}

.card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;

}

.card {
    flex: 1 1 content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--lt-color);
    border-radius: 10px;
    border-right: 1px solid var(--md-color);
    border-bottom: 1px solid var(--md-color);
    padding: 10px;
    margin: 10px
}

.card h1 {
    color: black;
    font-size: 20px;
}

.card a {
    text-decoration: none;
    text-align: center;
}

.modal-bg {
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    background-color: rgba(0,0,0,0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    visibility: hidden; 
    opacity: 0; 
}

.modal-active {
    visibility: visible; 
    opacity: 1; 
}
.modal {
    position: relative; 
    background-color: white; 
    width: 30%; 
    height: 20%; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    flex-direction: column;
}

.modal button {
    padding: 10px 30px; 
    background-color: #2980b9; 
    color: white; 
    border: none; 
    cursor: pointer; 
}

.modal-close {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    font-weight: bold; 
}

@media only screen and (max-width: 600px) {
    .content {
        flex-wrap: wrap;
    }
    .left-side {
        width: 100%;
        height: 30vh;
        border-bottom: 3px solid var(--drk-color);
    }
    #maps {
        height: 50vh;
    }

}
