* {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: 'DM Sans', sans-serif;
}

:root {
    --bg-color: rgb(255, 248, 248);
    --drk-color: rgb(161, 69, 227);
    --md-color: rgb(41, 111, 216);
    --lt-color: rgb(252, 228, 48);
}

body{
    background-color: var(--bg-color);
    height: 100vh;
}

header {
    width: 100%;
    background: url("../image/pattern.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--drk-color)
}

h1 {
    padding: 10px;
    font-size: 6vw;
    color: whitesmoke;
    text-align: center;
}

h2 {
    padding: 10px;
    font-size: 2vw;
    color: var(--md-color);
    text-align: center;
    display: none;
}

.search-container {
    margin-top: 15%;
    margin-left: 25%;
    width: 45%;
    border-radius: 5px;
    border: 2px solid var(--md-color);
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 35px;
}

.title {
    font-size: 1.5vw;
    font-weight: bolder;   
}

.search-box{
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.city-search{
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

.search-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--drk-color);
    color: whitesmoke;
    height: 30px;
    width: 30px;
    font-size: 1.5vw;
    cursor: pointer;
}

.button-bg {
    border-radius: 5px;
    border: 1px solid black;
    background-color: var(--drk-color);

}

.content {
    display: flex;
    color: black;
}

.content h1 {
    font-size: 24px;
    color: black;
}

.left-side {
    background-color: var(--bg-color);
    padding: 30px;
    width: 35%;
    height: 90vh;
}


#maps {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

/* html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
*/

.user-input {
    font-weight: bold;
    font-size: 2rem;
}

.card {
    background-color: var(--lt-color);
    border-radius: 10px;
    border-left: 1px solid var(--md-color);
    border-bottom: 1px solid var(--md-color);
    padding: 10px;
    margin: 10px
}

.card-container h1 {
    color: black;
    font-size: 24px;
}

.modal-bg {
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    background-color: rgba(0,0,0,0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    visibility: hidden; 
    opacity: 0; 
}

.modal-active {
    visibility: visible; 
    opacity: 1; 
}
.modal {
    position: relative; 
    background-color: white; 
    width: 30%; 
    height: 20%; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    flex-direction: column;
}

.modal button {
    padding: 10px 30px; 
    background-color: #2980b9; 
    color: white; 
    border: none; 
    cursor: pointer; 
}

.modal-close {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    font-weight: bold; 
}
